.panel {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    overflow: auto;
}

.languages {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
}