.panel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.language {
    font-size: small;
}

.tooltip {}

.tooltip .tooltiptext {
    visibility: hidden;
    background-color: black;
    color: #fff;
    text-align: center;

    margin-left: -50px;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}