.button,
.selected_button {
    width: 150px;
    height: 50px;
    background-color: rgb(65, 133, 223);
    margin: 4px;
    text-align: center;
    word-wrap: break-word;
    color: white;
    font-weight: bold;
    font-size: 12pt;
    padding: 50px 5px;
    filter: brightness(50%);
}

.selected_button {
    filter: brightness(100%);
}